<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Страница не найдена</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../styles/404style.css" />
</head>
<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1>404</h1>
			<h2>Ошибка! Страница не найдена</h2>
			<p>Запрашиваемый ресурс не найден. Если Вы ввели адрес данного ресурса вручную, пожалуйста, удостовертесь, что в написании адреса нет ошибок.</p>
			<a href="http://school/">Вернуться на главную</a>
		</div>
	</div>
</body>
</html>
